node-red/flows.json
[
    {
        "id": "vulnerability-alert-flow",
        "type": "tab",
        "label": "Vulnerability Alert Automation",
        "disabled": false,
        "info": "Automates alerts when vulnerabilities are found during scans",
        "env": []
    },
    {
        "id": "vulnerability-webhook",
        "type": "http in",
        "z": "vulnerability-alert-flow",
        "name": "Vulnerability Webhook",
        "url": "/webhook/vulnerability-found",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 100,
        "wires": [["vulnerability-filter"]]
    },
    {
        "id": "vulnerability-filter",
        "type": "switch",
        "z": "vulnerability-alert-flow",
        "name": "Filter by Severity",
        "property": "payload.vulnerability.severity",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "critical",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "high",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 340,
        "y": 100,
        "wires": [["critical-alert", "log-critical"], ["high-alert", "log-high"]]
    },
    {
        "id": "critical-alert",
        "type": "function",
        "z": "vulnerability-alert-flow",
        "name": "Format Critical Alert",
        "func": "const vuln = msg.payload.vulnerability;\nconst scanId = msg.payload.scan_id;\n\nmsg.payload = {\n    text: `🚨 CRITICAL VULNERABILITY FOUND 🚨\\n\\n` +\n          `Title: ${vuln.title}\\n` +\n          `URL: ${vuln.url || 'N/A'}\\n` +\n          `Scan ID: ${scanId}\\n` +\n          `Severity: ${vuln.severity.toUpperCase()}\\n` +\n          `\\nView in dashboard: http://localhost:8000`,\n    severity: 'critical',\n    vulnerability: vuln,\n    scan_id: scanId\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 60,
        "wires": [["multi-channel-alert"]]
    },
    {
        "id": "high-alert",
        "type": "function",
        "z": "vulnerability-alert-flow",
        "name": "Format High Alert",
        "func": "const vuln = msg.payload.vulnerability;\nconst scanId = msg.payload.scan_id;\n\nmsg.payload = {\n    text: `⚠️ HIGH VULNERABILITY FOUND\\n\\n` +\n          `Title: ${vuln.title}\\n` +\n          `URL: ${vuln.url || 'N/A'}\\n` +\n          `Scan ID: ${scanId}\\n` +\n          `Severity: ${vuln.severity.toUpperCase()}`,\n    severity: 'high',\n    vulnerability: vuln,\n    scan_id: scanId\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 140,
        "wires": [["multi-channel-alert"]]
    },
    {
        "id": "multi-channel-alert",
        "type": "split",
        "z": "vulnerability-alert-flow",
        "name": "Multi-Channel",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 780,
        "y": 100,
        "wires": [["log-alert", "file-alert"]]
    },
    {
        "id": "log-alert",
        "type": "debug",
        "z": "vulnerability-alert-flow",
        "name": "Log Alert",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 60,
        "wires": []
    },
    {
        "id": "file-alert",
        "type": "file",
        "z": "vulnerability-alert-flow",
        "name": "Save Alert",
        "filename": "/tmp/node-red-vulnerability_alerts.log",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 980,
        "y": 140,
        "wires": []
    },
    {
        "id": "log-critical",
        "type": "debug",
        "z": "vulnerability-alert-flow",
        "name": "Log Critical",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 220,
        "wires": []
    },
    {
        "id": "log-high",
        "type": "debug",
        "z": "vulnerability-alert-flow",
        "name": "Log High",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 280,
        "wires": []
    },
    {
        "id": "scan-orchestration-flow",
        "type": "tab",
        "label": "Scan Orchestration",
        "disabled": false,
        "info": "Orchestrates scan execution and monitoring",
        "env": []
    },
    {
        "id": "scan-trigger",
        "type": "inject",
        "z": "scan-orchestration-flow",
        "name": "Manual Trigger",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"plugin\":\"browser\",\"name\":\"Node-RED Scan\",\"url\":\"https://example.com\",\"scan_type\":\"signup\"}",
        "payloadType": "json",
        "x": 140,
        "y": 100,
        "wires": [["create-scan"]]
    },
    {
        "id": "create-scan",
        "type": "http request",
        "z": "scan-orchestration-flow",
        "name": "Create Scan",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:8000/api/scans",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "static",
                "keyValue": "Content-Type",
                "valueType": "static",
                "valueValue": "application/json"
            }
        ],
        "x": 320,
        "y": 100,
        "wires": [["extract-scan-id", "handle-error"]]
    },
    {
        "id": "extract-scan-id",
        "type": "function",
        "z": "scan-orchestration-flow",
        "name": "Extract Scan ID",
        "func": "if (msg.payload.scan_id) {\n    msg.scan_id = msg.payload.scan_id;\n    msg.payload = `Scan started: ${msg.payload.scan_id}`;\n    return msg;\n} else {\n    return null;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 100,
        "wires": [["monitor-scan"]]
    },
    {
        "id": "monitor-scan",
        "type": "function",
        "z": "scan-orchestration-flow",
        "name": "Monitor Scan",
        "func": "// Poll scan status every 5 seconds\nconst scanId = msg.scan_id;\n\nmsg.url = `http://localhost:8000/api/scans/${scanId}`;\nmsg.method = 'GET';\n\n// Store scan ID for status checking\nnode.context().set('scanId', scanId);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 100,
        "wires": [["check-status"]]
    },
    {
        "id": "check-status",
        "type": "http request",
        "z": "scan-orchestration-flow",
        "name": "Check Status",
        "method": "USE",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 880,
        "y": 100,
        "wires": [["status-filter"]]
    },
    {
        "id": "status-filter",
        "type": "switch",
        "z": "scan-orchestration-flow",
        "name": "Check Status",
        "property": "payload.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "completed",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "failed",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "running",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 1080,
        "y": 100,
        "wires": [["scan-complete"], ["scan-failed"], ["retry-check"]]
    },
    {
        "id": "retry-check",
        "type": "delay",
        "z": "scan-orchestration-flow",
        "name": "Wait 5s",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1280,
        "y": 140,
        "wires": [["monitor-scan"]]
    },
    {
        "id": "scan-complete",
        "type": "function",
        "z": "scan-orchestration-flow",
        "name": "Process Results",
        "func": "const scan = msg.payload;\nmsg.payload = {\n    message: `Scan completed: ${scan.name}\\n` +\n              `Results: ${scan.results.length}\\n` +\n              `Vulnerabilities: ${scan.vulnerabilities.length}`,\n    scan: scan\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 60,
        "wires": [["log-results"]]
    },
    {
        "id": "scan-failed",
        "type": "function",
        "z": "scan-orchestration-flow",
        "name": "Handle Failure",
        "func": "const scan = msg.payload;\nmsg.payload = {\n    message: `Scan failed: ${scan.name}\\nError: ${scan.error_message || 'Unknown error'}`,\n    scan: scan\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 220,
        "wires": [["log-error"]]
    },
    {
        "id": "log-results",
        "type": "debug",
        "z": "scan-orchestration-flow",
        "name": "Log Results",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 60,
        "wires": []
    },
    {
        "id": "log-error",
        "type": "debug",
        "z": "scan-orchestration-flow",
        "name": "Log Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 220,
        "wires": []
    },
    {
        "id": "handle-error",
        "type": "catch",
        "z": "scan-orchestration-flow",
        "name": "Handle Error",
        "scope": null,
        "uncaught": false,
        "x": 520,
        "y": 180,
        "wires": [["log-error"]]
    },
    {
        "id": "target-discovery-flow",
        "type": "tab",
        "label": "Target Discovery Pipeline",
        "disabled": false,
        "info": "Automates target discovery and validation",
        "env": []
    },
    {
        "id": "daily-trigger",
        "type": "inject",
        "z": "target-discovery-flow",
        "name": "Daily Trigger",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "0 0 * * *",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 100,
        "wires": [["discover-targets"]]
    },
    {
        "id": "discover-targets",
        "type": "function",
        "z": "target-discovery-flow",
        "name": "Discover Targets",
        "func": "// This would call the automated_scanner.py target discovery\n// For now, return a placeholder\nmsg.payload = {\n    action: 'discover_targets',\n    regions: ['VN', 'LA', 'KH']\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 100,
        "wires": [["validate-targets"]]
    },
    {
        "id": "validate-targets",
        "type": "function",
        "z": "target-discovery-flow",
        "name": "Validate Targets",
        "func": "// Validate discovered targets\nmsg.payload = {\n    validated: true,\n    targets: []\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 100,
        "wires": [["add-to-database"]]
    },
    {
        "id": "add-to-database",
        "type": "http request",
        "z": "target-discovery-flow",
        "name": "Add Target",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:8000/api/targets",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "static",
                "keyValue": "Content-Type",
                "valueType": "static",
                "valueValue": "application/json"
            }
        ],
        "x": 780,
        "y": 100,
        "wires": [["trigger-scan"]]
    },
    {
        "id": "trigger-scan",
        "type": "function",
        "z": "target-discovery-flow",
        "name": "Trigger Scan",
        "func": "// Trigger scan for new targets\nif (msg.payload.target) {\n    msg.url = 'http://localhost:8000/api/targets/' + msg.payload.target.id + '/scan';\n    msg.method = 'POST';\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 100,
        "wires": [["execute-scan"]]
    },
    {
        "id": "execute-scan",
        "type": "http request",
        "z": "target-discovery-flow",
        "name": "Execute Scan",
        "method": "USE",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1220,
        "y": 100,
        "wires": [["log-discovery"]]
    },
    {
        "id": "log-discovery",
        "type": "debug",
        "z": "target-discovery-flow",
        "name": "Log Discovery",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1440,
        "y": 100,
        "wires": []
    }
]

